:root {
    --verde: #1A824D;
    --azul: #2678BF;
    --borda-caixa: 10px;
    --sombra: 0px 1px 5px #8e8e8ead;
    --borda-botao: 35px;
}

footer {
    background-color: var(--verde);
    display: flex;
    padding: 20px 2%;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.coluna-footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Limita o tamanho da coluna para forçar a quebra em duas linhas */
.coluna-explora {
    max-width: 350px;
    width: 100%;
}

.coluna-footer h2 {
    color: white;
    font-size: 21px;
    text-align: left;
    margin: 0;
}

.coluna-footer p {
    color: white;
    font-size: 20px;
    font-weight: normal;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: normal;
    margin: 0;
}

/* Nova solução padrão W3C para limitar  duas linhas sem dar erro */
.coluna-explora p {
    line-height: 1.4;      
    max-height: 2.8em;     
    overflow: hidden;      
}

.coluna-footer a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
}

.links-redes {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

.links-redes i {
    font-size: 32px;
    color: white;
}

.links-footer {
    display: flex;
    flex-direction: column;
}

/* Ajustes para telas até 720px */
@media screen and (max-width: 720px) {
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .coluna-footer {
        align-items: center;
    }

    .coluna-footer h2,
    .coluna-footer p {
        text-align: center;
    }

    .coluna-footer p {
        font-size: 18px; 
    }

    .links-redes {
        justify-content: center;
    }
}

/* Ajustes para telas pequenas até 500px */
@media screen and (max-width: 500px) {
    .coluna-footer a {
        font-size: 11px;
    }

    .coluna-footer h2 {
        font-size: 16px;
    }

    .coluna-footer p {
        font-size: 15px;
    }
}
