*{
    padding: 0;
    margin: 0;
}
:root{
    --verde: #1A824D;
    --azul: #2678BF;
    --borda-caixa: 10px;
    --sombra: 0px 1px 5px #8e8e8ead;
    --borda-botao: 35px;
}
html, body{
    min-height: 100vh;
}
main{
    min-height: 100vh;
    
}
.favoritados{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.favoritados .titulo h1{
    
    padding: 23px 10px 10px 10px;
    text-align: center;
}
.favoritados .titulo h1 .bi-suit-heart-fill{
    color: red;
}
.favoritados .titulo p{
    text-align: center;
    font-weight: bold;
}
.barra_pesquisa{
    width: 693px;
    background-color: white;
    height: 64px;
    border-radius: var(--borda-botao);
    display: flex;
    box-shadow: var(--sombra);
    margin: 20px auto;
    flex-direction: row-reverse;
    
}
.barra_pesquisa input{
    width: 600px;
    margin: auto;
    height: 100%;
    border-bottom-right-radius: 33px;
    border-top-right-radius: 33px;
    border: 0;
    margin-left: 12px;
}
.barra_pesquisa input:focus{
    outline: none;
}
.btn_pesquisar{
    display: flex;
    border-radius: var(--borda-botao);
    border: 0;
    background-color: var(--verde);
    margin: auto auto auto 20px;
    padding: 10px;
    gap: 5px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
.btn_pesquisar .bi-search{
    color: white;
    
}
.filtrar-gostos{
    margin: auto;
    display: flex;
    gap: 10px;
}
.btn-preferencia{
    background-color: var(--azul);
    padding: 9px 10px;
    border-radius: var(--borda-botao);
    border: 1px solid var(--azul);
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
}
.btn-preferencia:hover{
    background-color: white;
    transition: 0.25s;
    color: var(--azul);
    cursor: pointer;
}
.preferencias{
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}
.label-preferencias{
    flex-wrap: wrap;
    display: flex;
    gap: 6.5px;
    margin: auto;
    justify-content: center;
}
.label-preferencias label{
    background-color: var(--azul);
    padding: 9px 10px;
    border-radius: var(--borda-botao);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    gap: 5px;
    align-items: center;
    display: flex;
}
/*EVENTOS*/
/*DESCOBIR EVENTOS (EVENTOS)*/
.itens-pesquisa{
    padding: 20px;
    display: flex;
    gap: 20px;
    margin: 0 auto;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    max-width: 1400px;
}
.caixa_eventos{
    width: 241px;
    height: 214px;
    border: 2px solid var(--verde);
    border-radius: 14px;
    font-weight: bold;
    box-shadow: 5px 5px 10px #8e8e8e;
    text-decoration: none;
    flex-direction: column;
}
.caixa_eventos:hover{
    transform: translateY(-5px);
    transition: 0.5s;
}
.caixa_eventos .data_evento{
    position: absolute;
    padding: 5px;
    background-color: var(--azul);
    margin: 10px 0px 0px 10px;
    border-radius: 10px;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: bold;
    
}
.data_evento:hover{
    background-color: white;
    border: 1px solid var(--azul);
    color: var(--azul);
}
.caixa_eventos img{
    width: 100%;
    height: 70%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.texto-evento .nome_show{
    color: black;
    
    font-weight: bold;
}
.texto-evento .distancia_show{
    color: #8e8e8e;
    font-size: 0.7rem;
}
.texto-evento{
    margin-top: 11px;
    margin-left: 7px;
}
.btn-preferencia-resposivo{
    display: none;
}
.itens-pesquisa #txt-pesquisas{
    display: none;
    color: black;
    text-align: center;
    margin: 0;
}
/*BARRA DE PESQUISA*/
@media screen and (max-width: 770px){
    .barra_pesquisa{
        width: 550px;
    }
}
@media screen and (max-width: 625px){
    .barra_pesquisa{
        width: 450px;
        height: 54px;
    }
    .btn_pesquisar{
        padding: 10px;
        font-size: 0.75rem;
    }
}
@media screen and (max-width: 510px){
    .barra_pesquisa{
        width: 350px;
    }
    .btn_pesquisar{
        margin-right: 10px;
    }
    .barra_pesquisa input{
        margin-left: 10px;
    }
}
@media screen and (max-width: 400px){
    .barra_pesquisa{
        width: 300px;
    }
} 
/*LINHA EVENTOS*/
@media screen and (max-width: 564px){
    .caixa_eventos{
        width: 381px;
        height: 214px
    }
    .caixa_eventos a img{
    width: 381px;
    height: 145px;
}
}
@media screen and (max-width: 440px){
    .caixa_eventos{
        width: 321px;
        height: 214px
    }
    .caixa_eventos a img{
        width: 321px;
        height: 145px;
}
}
@media screen and (max-width: 390px){
    .caixa_eventos{
        width: 271px;
        height: 194px
    }
    .caixa_eventos a img{
        width: 271px;
        height: 135px;
}
}
